.navBtn{
    background: transparent;
    display: none !important;
    font-size:0;
}

.navBtnIcon {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    bottom: 1.5rem;
    color: var(--body);
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.mode {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

.navMenu {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 2;
    top: 0; 
    left: 0;
    background-color: var(--background);
    padding-top: 100px;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    transition: width 0.5s;
    box-shadow: var(--shadowColor);

}

.navBtn:checked ~ .navMenu {
    width: 250px;
}

.closeNavBtnIcon {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  color: var(--body);
  width: 50px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin: auto;
}

/* #navBtn:checked ~ .navMenu .closeNavBtnIcon {
  transition: 0.5;
  transition: color 0;
  right: 1.5rem;
  display: block;
} */

.closeNavBtn{
  background: transparent;
  display: none !important;
  font-size:0;
}



.globalCloseNavBtn {
    display: none;
}

.globalCloseNavOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.navBtn:checked ~ .globalCloseNavOverlay {
  display: block;
}


.navMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--link);
    display: block;
    transition: 0.3s;
    overflow: hidden;
    white-space: nowrap;
}
  

.navMenu a:hover {
    color: var(--linkH);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

img {
  width: 35px;
  height: 35px;
}

button{
  border: none;
  padding: .8em 2em;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  margin-bottom: 1.5rem;
}
/* #theme-switch img{
  fill: var(--primary-color);
} */
#theme-switch img:first-child{
  display: none;
}
.darkmode #theme-switch img:last-child{
  display: none;
}
.darkmode #theme-switch img:first-child{
  display: block;
}

.help img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.help {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 1.5rem;
  right: 6.125rem;
  display: flex;
  justify-content: center;
  align-items: center
}

.help img:first-child{
  display: none;
}
.darkmode .help img:last-child{
  display: none;
}
.darkmode .help img:first-child{
  display: block;
}