.navBtn{
    background: transparent;
    display: none !important;
    font-size:0;
}

.navBtnIcon {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    background-color: #ba0766;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.mode {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

.navMenu {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 2;
    top: 0; 
    left: 0;
    background-color: var(--background);
    padding-top: 80px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    transition: width 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.navBtn:checked ~ .navMenu {
    width: 250px;
}

.globalCloseNavBtn {
    display: none;
}



.globalCloseNavOverlay {
    position: fixed;
    display: none; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer; 
}

.navBtn:checked ~ .globalCloseNavOverlay {
    display: block !important
}


.navMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  

.navMenu a:hover {
    color: #f1f1f1;
}
  

.closeNavBtnIcon {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    background-color: #ffffff23;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    
}

.closeNavBtn{
    background: transparent;
    display: none !important;
    font-size:0;
}


  
  

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}




.labelMenu {
    position: fixed;
    top: .5rem;
    right: .5rem;
    display: block;
    width: 1.4rem;
    font-size: 1.5rem;
    border: 1px solid var(--nc-tx-2);
    border-radius: 4px;
    padding: .2rem .4rem;
    background-color: var(--table-bg);
    z-index: 8;
}

img{
  width: 35px;
  height: 35px;
}

button{
  border: none;
  padding: .8em 2em;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;

  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}
#theme-switch img{
  fill: var(--primary-color);
}
#theme-switch img:first-child{
  display: none;
}
.darkmode #theme-switch img:last-child{
  display: none;
}
.darkmode #theme-switch img:first-child{
  display: block;
}